<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>IP/POD NAME查询</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.11/lib/theme-chalk/index.css" />
	<link rel="stylesheet" href="../static/ipam/css/pod_serch.css" />
</head>

<body>

<div id="index">
	<el-container>
		<el-aside width="150px" style="background-color: rgb(255,255,255)">
			<el-menu :default-openeds="['1', '3']">
				<el-menu-item-group>
					<el-menu-item index="1-1">
						<a href="ip_serch.html"> IP/MAC查询 </a>
					</el-menu-item>
					<el-menu-item index="1-2">
						IP/POD NAME查询
					</el-menu-item>
				</el-menu-item-group>
				</el-menu-item-group>
			</el-menu>
		</el-aside>
		<el-container>

			<el-header style='height: 120px;'>

				<el-form  :inline="true" :model="tableSearchModel" ref="tableSearchModel" label-width="100px">
					<el-row>
						<el-form-item label="NAMESPACES">
							<el-input v-model="tableSearchModel.namespace" placeholder="输入域名空间" size="15"></el-input>
						</el-form-item>
						<el-form-item label="POD NAME">
							<el-input v-model="tableSearchModel.podname" placeholder="输入POD NAME" size="35"></el-input>
						</el-form-item>
						<el-form-item label="IP">
							<el-input v-model="tableSearchModel.ip" placeholder="输入IP" size="25"></el-input>
						</el-form-item>
						<el-form-item label="状态">
							<el-select v-model="tableSearchModel.status" placeholder="请选择状态" size="10">
								<el-option
										v-for="item in statusSet"
										:key="item.value"
										:label="item.label"
										:value="item.value">
								</el-option>
							</el-select>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="searchClick1" size="small">查 询</el-button>
						</el-form-item>
					</el-row>
				</el-form>

			</el-header>

			<el-main style='height: 400px;'>

				<el-table
						:data="tableData"
						style="width: 100%"
						height="537"
						border
						:row-class-name="tableRowClassName">

					<el-table-column
							prop="Ip"
							label="IP"
							width="175">
					</el-table-column>
					<el-table-column
							prop="Namespaces"
							label="域名空间"
							width="100">
					</el-table-column>
					<el-table-column
							prop="Pod_name"
							label="POD ID"
							width="300">
					</el-table-column>
					<el-table-column
							prop="Status"
							label="状态"
							width="75">
					</el-table-column>
					<el-table-column
							prop="Host_name"
							label="分配主机"
							width="375">
					</el-table-column>
					<el-table-column
							prop="Created"
							label="分配时间(POD的当地时间)"
							width="200">
					</el-table-column>
					<el-table-column
							prop="Container_id"
							label="容器ID"
							width="550">
					</el-table-column>
				</el-table>
			</el-main>
			<el-footer style="height: 60px;">

				<el-pagination
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="tableSearchModel.page"
						:page-sizes="[10, 20, 50]"
						:page-size="tableSearchModel.pageSize"
						layout="total, sizes, prev, pager, next, jumper"
						:total="totalElements">
				</el-pagination>

			</el-footer>

		</el-container>
		<!--<el-aside width="100px">-->
		<!--</el-aside>-->

	</el-container>


</div>
<script type="text/javascript" src="../static/frame/js/vue.js" ></script>
<script type="text/javascript" src="../static/frame/js/index.js" ></script>
<script type="text/javascript" src="../static/frame/js/jquery.min.js" ></script>
<script type="text/javascript" src="../static/ipam/js/pod_serch.js" ></script>
</body>


</html>
